body {
	background: url(../img/bg.jpg) no-repeat fixed;
	background-color: #000;
	background-size: cover;
	color: #fff;
	padding-bottom: 150px;
}
@keyframes fly {
	from {
		left: -7vw;
		top: 150px;
	}
	to {
		left: 50%;
		top: -7vw;
	}
}
body:before {
	content: ' ';
	background-image: url('../img/comet.svg');
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 7vw;
	height: 7vw;
	position: absolute;
	left: -7vw;
	animation-delay: 2s;
	animation-duration: 1s;
	animation-name: fly;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
a:link, a:visited {
	color: rgba(255,233,143,1);
}
.intro {
	box-sizing: border-box;
	padding: 2em;
	width: 100%;
	max-width: 700px;
	margin: auto;
	position: relative;
	
	font-family: 'Play', sans-serif;
}

.intro:before {
		content: ' ';
		background-image: url('../img/computer.svg');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		display: block;
		animation-duration: 2s;
		animation-name: float;
		animation-iteration-count: infinite;
		animation-direction: alternate;
		width: 134px;
		height: 117px;
		bottom: -120px;
		left: 50%;
		margin-left: -67px;
	}

@keyframes float {
  from {
	margin-bottom: 0;
  }
  to {
	 margin-bottom: 20px;
  }
  
}

@keyframes floatAlt {
	from {
		margin-bottom: 20px;
	}
	to {
		margin-bottom: 0;
	}
}
.button-container {
	text-align: center;
	padding-top: 2em;
}
.button {
	display: inline-block;
	padding: 5px 10px;
	margin: 5px;
	text-decoration: none;
	border-radius: 3px;
	border: 1px dashed #000;
	font-size: 1.2em;
	background-color: rgba(255,233,143,1);
}
.button:link, .button:visited {
	color: #000;
}
.button:hover {
	background-color: #eee;;
	border-style: solid;
	color: #000;
}
h1 {
  font-size: 26px;
}

p {
  font-size: 14px;
  max-width: 37em;
}

@media (min-width: 480px) and (max-width: 1200px) {
  h1 {
    font-size: calc( 26px + (40 - 26) * ( (100vw - 480px) / ( 1200 - 480) ));
  }
    p {
    font-size: calc( 14px + (18 - 14) * ( (100vw - 480px) / ( 1200 - 480) ));
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 40px;
  }
    p {
    font-size: 18px;
  }
}

@media (min-width: 1000px) {
	body {
		overflow-x: hidden;
	}
	.intro {
		position: absolute;
		padding: 4em 2em;
		margin-bottom: 0;
		top: 30%;
		left: 40%;
		transform: translate(-40%, -30%);
	}
	.intro:before {
		left: -7vw;
		bottom: 0;
		width: 8vw;
		max-width: 155px;
		height: 7vw;
		margin-left: 0;
	}

	.intro:after {
		content: ' ';
		background-image: url('../img/astronaut.svg');
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		right: -25vw;
		bottom: 0;
		width: 25vw;
		max-width: 480px;
		height: 25vw;
		animation-duration: 2s;
		animation-name: floatAlt;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

@media (min-width: 2000px) {
	.intro:before {
		left: -155px;
		width: 155px;
		height: 135px;
	}
	.intro:after {
		right: -480px;
		width: 480px;
		height: 480px;
	}
}


